.chat-main
  .chat-main_group-info
    .group
      .current-group
        test
      .memberlist
        Member : 
        .member
          tomo
    .icon
      = link_to "Edit", "#"
  .chat-main_message-list
    .message
      .message___name
        tomo 
      .message__date
        2020/11/20(wed)17:43;01
    .message-body
      おはよう！
    .message
      .message__name
        tomo 
      .message__date
        2020/11/20(wed)17:43;01
    .message-body
      おはよう！  
  
  .form
    .form-contents 
      .form-input-contents
        %input{class:"input-text", placeholder:"type a message", type:"text"}
        .form-fa-image
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input.form-input-file{type: "file"}
      %input.submitbtn{type:"submit",name:"commit",value:"Send"}